@import "@assets/styles/colors";

.customSelect {
  display: block;
  width: 100%;

  * {
    color: black;
  }

  .antDSelectBox {
    width: 100%;
    :global(.ant-select-selector) {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 4px !important;
      font-size: 14px;
      font-weight: 500;
      margin: 1px;
      padding: 0px 10px 0 10px !important;
      transition: 0.3s all ease-in-out;
      border-color: #dedede;
      height: 45px !important;
      width: 100%;

      :global(.ant-select-selection-search-input) {
        margin-top: 5px !important;
      }

      &:hover {
        border-color: #00c5fb !important;
        outline: none !important;
        transition: 0.3s all ease-in-out;
      }

      &:focus,
      &:active,
      &:visited {
        border-color: #00c5fb !important;
        border-right-width: 1px !important;
        box-shadow: 0 3px 10px rgb(0 0 0 / 11%)-hover !important;
        outline: 0 !important;
      }
      :global(.ant-select-dropdown-hidden) {
        overflow-y: auto !important;
      }
    }

    :global(.ant-select-selector) {
      &:hover {
        border-color: #00c5fb !important;
      }
    }

    :global(.ant-select-focused) {
      :global(.ant-select-selector) {
        border-color: #00c5fb !important;
        border-right-width: 1px !important;
        box-shadow: 0 3px 10px rgb(0 0 0 / 11%)-hover !important;
        outline: 0 !important;
      }
    }
  }
}

.LoadMore {
  pointer-events: all !important;
  cursor: pointer !important;
  color: #2d71d8 !important;
  text-align: center;
}

.loader {
  margin: auto;
  color: #2d71d8;
}
